<p id="notice"><%= notice %></p>

<p class="results_box">
  <strong><%= @blog.title %></strong>
</p>


<p class="results_box">
  <%=raw @blog.summary %>
</p>

<p class="results_box">

  <%= @blog.contents.html_safe %>
</p>
