<h2>About Us</h2>
<p>
	Wimbledon Racquets and Fitness Club is South West London's premier squash, badminton & gym.  It provides a fantastic value for money alternative to the many commercial facilities in the local area. The club provides the perfect antidote to the stresses and strains of modern day life.
<br /><br />
	At the club we can help you relieve the pressures of work, vent your commuter frustrations, and allow you to reward yourself with some personal time. In terms of squash and badminton the club caters for all ages and abilities: beginners, intermediates up to and above county/national standard players.
<br /><br />
	Play squash or badminton, either socially or competitively, realise the benefits from an active lifestyle by using the full range of up to date CV equipment, free weights and resistance machines in the air conditioned fitness suite. Then you can relax in the members bar and lounge, and enjoy a well-deserved drink and a healthy, freshly prepared meal from the restaurant menu. We look forward to welcoming you to the club.
</p>
