<h2>Contact</h2>

<p>For more information about the club please see the website at <a href="http://www.wimbledonclub.co.uk/">www.wimbledonclub.co.uk</a></p>
<p>Any queries regarding the leagues please email the league admin team: <a href="mailto:squash.leagues@wimbledonclub.co.uk">squash.leagues@wimbledonclub.co.uk</a><br />
</p>