<h3>Help</h3>

<h6>To log into the league website</h6>
<ul>
  <li>Using a web browser navigate to http://squash.wimbledonclub.co.uk</li>
  <li>Click on ”sign in” and use your email address and the password you were given when you first joined the leagues.</li>
</ul>

<h6>To find your league opponent’s contact details</h6>
<ul>
  <li>Log in to the league website</li>
  <li>Click on your email address, which is displayed in the menu bar after you have logged in</li>
  <li>Your opponent’s contact details will then be listed.</li>
</ul>

<h6>To enter a result</h6>
<ul>
  <li>Login to the website</li>
  <li>Click on your email address, which is displayed in the menu bar after you have logged in</li>
  <li>Click on the link “add a result” and enter the details for the match that you have just played</li>
  <li>When you enter a result please only hit the "Create match" button ONCE.  If you get bored waiting for confirmation  and hit it again the chances are that a duplicate result will get created which you cannot then undo without our help.  Better to close the web browser and start again if you are not sure whether a result has been recorded.</li>
  <li>To enter a walkover , give yourself 3 points and your opponent “W/O” – NOT the other way around.</li>
  <li>If a result gets entered twice or was entered incorrectly and needs to be modified then please email the league administrator with the detail.</li>
</ul>

<h6>Contacting league administrator</h6>
<ul>
  <li>For any comms to do with the leagues , please email the league administrator at squash.leagues@wimbledonclub.co.uk, and include the following information.</li>
  <li>State the league that you’re in</li>
  <li>Your name and opponent’s name (if about a specific match)</li>
  <li>Describe the issue. </li>
</ul>