<h3>League Rules</h3>

<h6>League Overview:</h6>
<ul>
  <li>Each league cycle normally lasts six weeks, but will be longer during club champs, summer holidays and over Christmas.</li>
  <li>Over that cycle you are expected to play all the other players in your league box. Consult the Help section for how to find and contact your opponents.</li>
  <li>We aim ideally to have seven players in all leagues,. However there may sometimes be as few as five or as many as eight to deal with people joining and leaving the leagues.</li>
  <li>Matches are normally played as best of 5 games, using traditional English scoring (to 9 points, win on serve only). If both players agree then American scoring to 11 (or any other variant) may be played, provided match is best of 5.</li>
</ul>

<h6>Joining the leagues:</h6>
<ul>
  <li>If you’ve not played in the leagues before then please attend one of the club sessions and ask one of the coaches what league he/she recommends you starting in. Then email the league administrator giving your target league and a mobile number. We will then include you in the next league cycle. Please note it is not always possible to put you in the recommended league, but we will try to get a reasonable fit.</li>
  <li>If you are rejoining then please email the administrator to advise and tell us what league you last played in. We will try to rejoin you within a couple of leagues of that one.</li>
</ul>

<h6>League Scoring:</h6>

<ul>
  <li>Points are awarded for each match played as follows:</li>
  <ul>
    <li>3-0:		7-2</li>
    <li>3-1:		6-3</li>
    <li>3-2:		6-4</li>
    <li>2-1:		4-3</li>
    <li>2-0:		4-2</li>
    <li>1-0:		3-2</li>
    <li>2-2:		4-4</li>
    <li>1-1:		3-3</li>
    <li>Walkover:	6-0</li>
  </ul>
  <li>If a match is not played a result must not be entered.</li>
</ul>

<h6>League Promotion / Demotion</h6>

<ul>
  <li>At the end of each league cycle points for each player are totalled and the players within each league box are ranked from first to last place.</li>
  <li>If two players have the same number of points then the rules are:</li>
  <ul>
    <li>If they have played each other the winner is ranked higher</li>
    <li>If not (or if the match was a draw) then we look at overall results for that league and take a view about which player should be ranked higher based on all the matches they have played. If still no clear ranking then we toss a coin!</li>
  </ul>
  <li>Once the rankings are established then in the following cycle players are promoted or demoted according to the follow rules:</li>
  <li>For players in Gold, Silver and Bronze leagues the target promotion/demotion is:</li>
  <ul>
    <li>1st place promoted 2 leagues</li>
    <li>2nd place promoted 1 league</li>
    <li>2nd last place demoted 1 league</li>
    <li>Last place demoted 2 leagues</li>
  </ul>
  <li>For players in Tom John leagues:</li>
  <ul>
    <li>1st place promoted 1 league</li>
    <li>2nd place promoted 1 league</li>
    <li>2nd last place demoted 1 league</li>
    <li>Last place demoted 1 league</li>
  </ul>
  <li>These targets may then be adjusted. The final league promotions/demotions try to balance the above targets with the needs of catering for new joiners and leavers and the target numbers in each box. We try to ensure that most people end up in their target league and those that don’t end up no more than one league away. However this is not always possible!</li>
  <li>We may also adjust for strong players in lower leagues (bottom of Gold, Silver and Bronze): if a player wins all their matches comfortably they may be promoted more than two leagues.</li>
  <li>If you think you are playing in a league which is much too low (or too high) then email us and we’ll take into account when setting up the next league cycle.</li>
</ul>

<h6>Withdrawals</h6>


Send emails to squash.leagues@wimbledonclub.co.uk.<br>

<h6>Joiners</h6>

<ul>
  <li>New joiners and re-entrants to the leagues will be included in the appropriate league where possible.  This is not always possible in order to keep even numbers in leagues.
    Non-Players</li>
  <li>If a player plays zero games and doesn’t contact the league administrator, they will be withdrawn.
    Withdrawals</li>
  <li>If you are unable to play your matches and would like to withdraw from the league please inform the league organisers and copy in all players in your league.</li>
  <li>If a player in your league states that he / she is unable to play, please inform the league organiser.</li>
  <li>If you withdraw at the start of a league (within 2 weeks of start date) and you haven’t played any matches, you can be entered back into the same league next session, or in a subsequent session if player prefers.</li>
  <li>If you withdraw after this time, or after having played matches (some flexibility if you’ve won those matches) you are demoted when you return.
</ul>

<h6>Walkovers</h6>
Walkovers should be claimed as a last resort.
<ul>
  <li>A walkover can be claimed if:</li>
    <ul>
      <li>2 or more attempts are made to contact a person with no response.</li>
      <li>A player doesn’t turn up for an arranged match.</li>
      <li>A player cancels within 24 hours (but match should be rearranged if possible).</li>
      <li>A player cancels a match which cannot be re-arranged before session cut off.</li>
    </ul>
  <li>A walkover cannot be claimed where a player cannot make a “rematch”, i.e. when a match is scheduled to complete a previously unfinished match.</li>
  <li>Walkovers  must not be entered online - please email the league organiser, copying in the opponent against whom a walkover is claimed, including reason for walkover.</li>
  <li>If a player concedes 2 or more walkover in a given session, all results will be removed and player will be relegated / withdrawn.</li>
</ul>