<h3>League Rules</h3>

<h6>Communication:</h6>
<p>Any concerns / issues , please contact the league administrator, and include the following information:</p>
<ul>
  <li>State league that you’re in.</li>
  <li>Name</li>
  <li>Issue</li>
</ul>

Send emails to squash.leagues@wimbledonclub.co.uk.<br>

<h6>Joiners</h6>

<ul>
  <li>New joiners and re-entrants to the leagues will be included in the appropriate league where possible.  This is not always possible in order to keep even numbers in leagues.
    Non-Players</li>
  <li>If a player plays zero games and doesn’t contact the league administrator, they will be withdrawn.
    Withdrawals</li>
  <li>If you are unable to play your matches and would like to withdraw from the league please inform the league organisers and copy in all players in your league.</li>
  <li>If a player in your league states that he / she is unable to play, please inform the league organiser.</li>
  <li>If you withdraw at the start of a league (within 2 weeks of start date) and you haven’t played any matches, you can be entered back into the same league next session, or in a subsequent session if player prefers.</li>
  <li>If you withdraw after this time, or after having played matches (some flexibility if you’ve won those matches) you are demoted when you return.
</ul>

<h6>Walkovers</h6>
Walkovers should be claimed as a last resort.
<ul>
  <li>A walkover can be claimed if:</li>
    <ul>
      <li>2 or more attempts are made to contact a person with no response.</li>
      <li>A player doesn’t turn up for an arranged match.</li>
      <li>A player cancels within 24 hours (but match should be rearranged if possible).</li>
      <li>A player cancels a match which cannot be re-arranged before session cut off.</li>
    </ul>
  <li>A walkover cannot be claimed where a player cannot make a “rematch”, i.e. when a match is scheduled to complete a previously unfinished match.</li>
  <li>Walkovers  must not be entered online - please email the league organiser, copying in the opponent against whom a walkover is claimed, including reason for walkover.</li>
  <li>If a player concedes 2 or more walkover in a given session, all results will be removed and player will be relegated / withdrawn.</li>
</ul>

<h6>Entering Results</h6>

<ul>
  <li>Login to the website:</li>
  <li>Username = email address (case sensitive)</li>
  <li>Password = tomjohn123 (default, but can be changed by user)</li>
  <li>Go to homepage and enter new result.</li>
  <li>If you cannot update results online, please inform the result to reception or email the league organiser.</li>
</ul>

<h6>Promotions / Demotions</h6>

<ul>
  <li>Gold, Silver, Bronze:</li>
  <ul>
    <li>1st place promoted 2 leagues</li>
    <li>2nd place promoted 1 league</li>
    <li>2nd last place demoted 1 league</li>
    <li>Last place demoted 2 leagues</li>
  </ul>
  <li>Tom John:</li>
  <ul>
    <li>1st place promoted 1 league</li>
    <li>2nd place promoted 1 league</li>
    <li>2nd last place demoted 1 league</li>
    <li>Last place demoted 1 league</li>
  </ul>
</ul>

<p>Where league sizes get out of sync, we will need to make changes in the promotion / relegation policy.  Efforts will be made to do this without changing the above principles.</p>


<h6>League Details</h6>

<ul>
  <li>Sessions last 7 weeks, but can be longer during club champs, Summer holidays  and over Christmas.</li>
  <li>Gold, Silver, Bronze: Target = 7 players per league</li>
  <li>Tom John: Target = 6 players per league</li>
</ul>

<h6>Scoring</h6>

<ul>
  <li>Points allocation:</li>
  <ul>
    <li>3-0:		7-1</li>
    <li>3-1:		6-2</li>
    <li>3-2:		6-3</li>
    <li>2-1:		5-2</li>
    <li>2-0:		5-1</li>
    <li>1-0:		4-1</li>
    <li>2-2:		4-4</li>
    <li>1-1:		3-3</li>
    <li>Walkover:	7-0</li>
  </ul>
</ul>

If a match is not played a result must not be entered. <br />
The default scoring is traditional English scoring, best of 5 games to 9 points.  If both players agree,  American scoring to 11 (or any variant) can be played.<br />
If a walkover is required this must be emailed to league organiser, including reason why walkover is requested.







