<p id="notice"><%= notice %></p>

<!--<p>
  <b>Playerdiv:</b>
  <%# @match.playerdiv_id %>
</p>
-->
<%= link_to 'Profile Page', player_path(current_player) %>
<%# link_to 'Edit', edit_match_path(@match) %> |
<%# link_to 'Back', matches_path %>
